################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/Line.ConsolePush/.vs/Line.ConsolePush/v15/Server/sqlite3
